<a href="https://colab.research.google.com/github/nurfnick/Calculus_2/blob/main/Python/ConditionallyConvergent.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
def a(n):
  if n%3 == 0:
    return -1/(2*(n/3))
  else:
    return 1/(2*(2*(n//3)+n%3)-1)

sum([a(n) for n in range(1,100000)])

1.0397132708071055

In [10]:
import math
3/2*math.log(2)

1.0397207708399179

In [18]:
def b(n):
  return (-1)**n/(n+1)

sum([b(i) for i in range(100000)])

0.6931421805849453

In [15]:
math.log(2)

0.6931471805599453

In [37]:
val = 2
tolerance = 0.1
evenCounter = 0
def addSome(s,val,tolerance,evenCounter):
  while(abs(s-val)>tolerance):
    s+=b(2*evenCounter)
    evenCounter+=1
  return s,evenCounter
addSome(0,val,tolerance,evenCounter)

oddCounter = 0
def subtractSome(s,val,tolerance,oddCounter):
  s+=b(2*oddCounter+1)
  oddCounter+=1
  return s,oddCounter
subtractSome(2,val,tolerance,oddCounter)

(1.5, 1)

In [38]:
l = []
s = 0
evenCounter = 0
oddCounter = 0
for i in range(100):
  s,evenCounter = addSome(s,val,tolerance,evenCounter)
  l.append(evenCounter)
  s,oddCounter = subtractSome(s,val,tolerance,oddCounter)
  l.append(oddCounter)
print(l)
s

[7, 1, 18, 2, 29, 3, 40, 4, 51, 5, 62, 6, 73, 7, 84, 8, 96, 9, 107, 10, 118, 11, 129, 12, 140, 13, 151, 14, 163, 15, 174, 16, 185, 17, 196, 18, 207, 19, 218, 20, 230, 21, 241, 22, 252, 23, 263, 24, 274, 25, 285, 26, 297, 27, 308, 28, 319, 29, 330, 30, 341, 31, 353, 32, 364, 33, 375, 34, 386, 35, 397, 36, 408, 37, 420, 38, 431, 39, 442, 40, 453, 41, 464, 42, 475, 43, 487, 44, 498, 45, 509, 46, 520, 47, 531, 48, 543, 49, 554, 50, 565, 51, 576, 52, 587, 53, 598, 54, 610, 55, 621, 56, 632, 57, 643, 58, 654, 59, 665, 60, 677, 61, 688, 62, 699, 63, 710, 64, 721, 65, 732, 66, 744, 67, 755, 68, 766, 69, 777, 70, 788, 71, 800, 72, 811, 73, 822, 74, 833, 75, 844, 76, 855, 77, 867, 78, 878, 79, 889, 80, 900, 81, 911, 82, 922, 83, 934, 84, 945, 85, 956, 86, 967, 87, 978, 88, 990, 89, 1001, 90, 1012, 91, 1023, 92, 1034, 93, 1045, 94, 1057, 95, 1068, 96, 1079, 97, 1090, 98, 1101, 99, 1112, 100]

1.8950240084441947